<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.val.ebtm.myiconnapp"
    android:versionCode="3"
    android:versionName="1.1.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="ccom.microforum.android.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ccom.microforum.android.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.val.ebtm.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".MiActividad2"
            android:label="Segunda Actividad" >
        </activity>
        -->
        <activity
            android:name="com.val.ebtm.Ajustes"
            android:label="Ajustes" >
        </activity>
        <activity
            android:name="com.val.ebtm.ShowPodcastsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show_podcasts"
            android:screenOrientation="portrait" >
        </activity>

        <!--
        <receiver
            android:name="com.example.myiconapp.RecibeNotificacion"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.myiconapp" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.myiconapp.ProcesaYGeneraNotificacion" />
        
        <activity
            android:name="com.example.myiconapp.ActividadRecibeNotificacion"
            android:label="C'era una volta" >
        </activity>
        -->
        <activity
            android:name="com.val.ebtm.AvisoWifi"
            android:label="@string/title_activity_aviso_wifi"
            android:excludeFromRecents="true">
        </activity>
    </application>

</manifest>
