<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RadioMarcaServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>ProcesarSubida</servlet-name>
    <url-pattern>/ProcesarSubida</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcesarSubida</servlet-name>
    <servlet-class>com.marca.radio.boxeo.ProcesarSubida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarPodcastsDisponibles</servlet-name>
    <url-pattern>/ListarPodcastsDisponibles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarPodcastsDisponibles</servlet-name>
    <servlet-class>com.marca.radio.boxeo.ListarPodcastsDisponibles</servlet-class>
  </servlet>
  <context-param>
    <param-name>ruta_programas</param-name>
    <param-value>C:\marca</param-value>
  </context-param>
</web-app>